@font-face {
    font-family: roboto;
    src: url(../../Asset/Font/Roboto-Medium.ttf);
}

.box-revise{
    width: 50px;
    height: 20px;
    display: inline-block;
    background-color: #0caa2f;
    margin-left: 20px;
    border-radius: 5px;
}
.box-plan{
    width: 50px;
    height: 20px;
    display: inline-block;
    background-color: #B8C2CC;
    margin-left: 20px;
    border-radius: 5px;
}
.box-actual{
    width: 50px;
    height: 20px;
    display: inline-block;
    background-color: #A3A3FF;
    margin-left: 20px;
    border-radius: 5px;
}

.box-delay{
    width: 50px;
    height: 20px;
    display: inline-block;
    background-color: red;
    margin-left: 20px;
    border-radius: 5px;
}

.box-milestone{
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    display: inline-block;
    background-color: #F1C453;
    margin-left: 20px;
    border-radius: 5px;
}

.titleModalAddActivity{
    padding: 15px;
    font-size: 20px;
}

.modalAddActivity{
    font-family: roboto;
}

.box-model{
    height: 600px;
    overflow: scroll;
}

