.label-subcategory {
    display: inline;
    padding: 5px;
    background-color: #ACFADF;
    border-radius: 2px;
    
}

.tanggal{
    width: 70%;
}

.form{
    width: 231px;
    height: 40px;
    margin-top: 31px;
}

.margin{
    margin-right: 10px;
}